.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 70vw;
  border: 1px solid black;
  margin-left: 15vw;
  border-radius: 10px;
}
.completed__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 70vw;
  border: 1px solid black;
  margin-left: 15vw;
  border-radius: 10px;
  margin-top: 10px;
}

.heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 50px;
}
.completed__container {
  height: 50vh;
}
.input {
  height: 23px;
  width: 450px;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.button__element {
  color: white;
  background-color: #2556fd;
  border-width: 0px;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
}
.complete__button {
  color: white;
  background-color: #3778f0;
  border-width: 0px;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
}
.delete__button {
  color: white;
  background-color: #fa0a0a;
  border-width: 0px;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
